@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-box {
  font-family: 'Pinyon Script', cursive;
  height: 10%;
  width: 100%;
  text-align: center;
  padding-top: 12%;
  position: absolute;
  font-size: 35px;
  color: rgb(247, 238, 226);
  text-shadow: 2px 2px #d70000;
}